<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Please wait...</title>
  </head>
  <body>
    <div class="container col-lg-12" style="margin-top: 10px;">
      <h3>You have already applied for this job once. <br>Please wait for the company's response...</h3><hr>
      <a href="{% url 'job_types' %}">Back to jobs</a>
    </div>
  </body>
</html>
