{% extends 'spec_cat_base.html' %}
  {% block title %}
    User Products
  {% endblock %}
  {% block cap_bg %}
    background-image: linear-gradient(#149777, #10846f);
  {% endblock %}
  {% block cap %}
    <span style="font-size:27px; cursor:pointer; padding-right: 10px;" onclick="window.location.href='{% url 'index' %}'"> <span class="glyphicon glyphicon-chevron-left"></span> </span>
    Your Products <br>
  {% endblock %}
  {% block list %}
    {% for product in products %}
    <li><a href="{% url 'product_desc' product.product_id %}">{{ product.product_name }}</a></li>
    {% endfor %}
  {% endblock %}